@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.thumbnail-container {
    min-height: 100px;
    min-width: 100px;
    position: relative;
    border: 1px solid rgb(56, 78, 92);
    border-radius: 5px;
}
.thumbnail-container::before,
.thumbnail-container::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 2px;
    height: 100%;
    background: rgb(56, 78, 92);
    border-radius: 1px;
    transform-origin: 0 0;
}
.thumbnail-container::before {
    transform: rotate(45deg) translate(-50%, -50%);
}
.thumbnail-container::after  {
    transform: rotate(-45deg) translate(-50%, -50%);
}